h1 {
  color: green;
  font-style: italic;
}

.blog {
  color: grey;
  padding-top: 3px;
  font-size: 15px;
}

.notify {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}
.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.show {
    padding: 5px;
    margin-left: 100px;
}

footer {
  margin-top: 10px;
  padding: 10px;
  color: green;
  font-style: italic;
}


